<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Categories" subheader="List of all Categories" >
    <div class="grid">
        <div class="col-12">
          <p-toolbar>
            <div class="p-toolbar-group-start">
              <p-button label="New"
               [raised]="true" 
               severity="success"
               icon="pi pi-plus"
               routerLink="form"
               ></p-button>
            </div>
        </p-toolbar>            
        </div>
    </div>
 
    <div class="grid">
      <div class="col-12">
        <p-table styleClass="p-datatable-gridlines" [value]="categories" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
              <tr>
                  <th  pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                  <th>Icon</th>
                  <th>Color</th>
                  <th></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-category>
              <tr>
      
                  <td>{{ category.name }}</td>
                  <td><i style="font-size: 1.7rem;" class="pi" [ngClass]="'pi-' + category.icon" ></i></td>
                  <td><div class="circle" style="width: 40px; height: 40px; border-radius: 50%;"
                    [style.backgroundColor]="category.color"
                    ></div></td>
                  <td>
                    <p-button
                    class="mr-2"
                    [raised]="true" 
                    icon="pi pi-trash"
                    severity="danger"
                    (click) = "deleteCategory(category.id)"
                    ></p-button>
                    <p-button 
                    [raised]="true" 
                    icon="pi pi-pencil"
                    (click) = "editCategory(category.id)"
                    ></p-button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
      </div>
    </div>

  </p-card>
</div>